<footer class="footer">
  <div class="footer__container">
    <div class="footer__block footer__contacts">
      <h2>Контакты</h2>
      <div class="footer__block-inner">
        <div class="footer__block-cell">
          <p><span>Юридический адрес</span><br> 198097, г. Санкт-Петербург, проспект Стачек, д. 48 корп. 2 литера А<br> <a href="#" target="_blank">Смотреть на карте</a></p>
          <p><span>Режим работы</span><br> Пн-пт / 9:00 – 18:00 (Перерыв:&nbsp;13:00&nbsp;–&nbsp;14:00)</p>
        </div>
        <div class="footer__block-cell">
          <p><span>E-Mail</span><br> <a href="mainto:info@one-shopw.com">info@one-shopw.com</a></p>
          <p><span>Тех. поддержка</span><br> <a href="mailto:texpomosh@one-shopw.com">texpomosh@one-shopw.com</a></p>
          <p><span>Пресс-служба компании</span><br> <a href="mailto:press@one-shopw.com">press@one-shopw.com</a></p>
        </div>
        <div class="footer__block-cell">
          <p><span>Реквизиты компании</span><br> ООО "СИРБИО"<br> ОГРН 1197847122967<br> ИНН 7805751732<br> КПП 780501001</p>
        </div>
      </div>
    </div>
    <div class="footer__block">
      <h2>Полезная информация</h2>
      <div class="footer__block-inner">
        <div class="footer__block-cell">
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Часто задаваемые вопросы</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Как покупать</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Как начать продавать</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Как работает доставка</a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Купонная система</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Бонусная программа</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О личном кабинете</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новым поставщикам</a></li>
          </ul>
        </div>
        <div class="footer__block-cell">
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Политика конфиденциальности</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Обработка персональных данных</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Что такое Cookies?</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вакансии</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__block">
      <h2>Социальные сети</h2>
      <div class="social">
        <a class="social__link" href="#" target="_blank" rel="nofollow noreferrer" title="vk.com">
          <svg class="social__link-icon" aria-hidden="true">
            <use xlink:href="#vk" />
          </svg>
        </a>
        <a class="social__link" href="#" target="_blank" rel="nofollow noreferrer" title="ok.ru">
          <svg class="social__link-icon" aria-hidden="true">
            <use xlink:href="#ok" />
          </svg>
        </a>
        <a class="social__link" href="#" target="_blank" rel="nofollow noreferrer" title="youtube.com">
          <svg class="social__link-icon" aria-hidden="true">
            <use xlink:href="#yt" />
          </svg>
        </a>
        <a class="social__link" href="#" target="_blank" rel="nofollow noreferrer" title="facebook.com">
          <svg class="social__link-icon" aria-hidden="true">
            <use xlink:href="#fb" />
          </svg>
        </a>
        <a class="social__link" href="#" target="_blank" rel="nofollow noreferrer" title="instagram.com">
          <svg class="social__link-icon" aria-hidden="true">
            <use xlink:href="#inst" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <p class="footer__copyright">© One Shop World 2020</p>
</footer>
