<header class="header">
  <div class="header__container">
    <div class="header__emblem"><img src="images/emblem.png" alt="Герб"></div>
    <div class="header__logo"><img src="images/logo.jpg" alt="OneShop"></div>
    <div class="header__support">
      Тех. поддержка:<br> <a href="mailto:texpomosh@one-shopw.com">texpomosh@one-shopw.com</a>
    </div>
    <button class="js-menu-toggler menu-toggler" type="button" title="Главное меню"><span class="menu-toggler__burger"></span></button>
  </div>
</header>
