<nav class="main-menu">
  <ul class="main-menu__list">
    <li class="main-menu__item main-menu__item--root"><a class="main-menu__link" href="#">Личный кабинет</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Моя корзина <span class="main-menu__qnt">3</span></a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Моё избранное</a></li>
    <li class="main-menu__item main-menu__item--separator"><a class="main-menu__link" href="#">Выйти</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Овощи и зелень</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Фрукты и ягоды</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Хлеб и выпечка</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Сыр</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Молочное и яйцо</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Колбасы и деликатесы</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Мясо</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Рыба и морепродукты</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Заморозка</a></li>
    <li class="main-menu__item main-menu__item--root"><a class="main-menu__link" href="#">Кондитерские изделия</a></li>
    <li class="main-menu__item main-menu__item--root"><a class="main-menu__link" href="#">Напитки</a></li>
    <li class="main-menu__item main-menu__item--root"><a class="main-menu__link" href="#">Бакалея</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Диабетические товары</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Для дома</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="#">Для животных</a></li>
  </ul>
</nav>
