<div id="votes" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#close" /></svg></button>
  <div class="fast-view">
    <div class="fast-view__block">
      <div class="fast-view__image">
        <div class="js-popup-slider popup-slider">
          <div>
            <img src="images/content/img_2.jpg" alt="alt">
          </div>
          <div>
            <img src="images/content/img_2.jpg" alt="alt">
          </div>
        </div>
      </div>
    </div>
    <div class="fast-view__block">
      <h2 class="fast-view__title">Продуктовый набор №8. Ограниченная серия</h2>
      <div class="fast-view__text">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p>
      </div>
      <a class="fast-view__add-cart button" href="javascript:void(0)" data-pid="1">
        <span>Мне нравится!</span>
        <svg class="catalog-item__add-cart-icon" aria-hidden="true">
          <use xlink:href="#favorite" />
        </svg>
        <span>254</span>
      </a>
    </div>
  </div>
</div>
