.orders
  @media(min-width: 1600px)
    display: flex
    margin-left: -10px
    margin-right: -10px

  &__list
    margin-bottom: 20px

    @media(min-width: 1600px)
      flex-grow: 1
      padding-left: 10px
      padding-right: 10px
      margin-bottom: 0

  &__detail
    @media(min-width: 1600px)
      padding-left: 10px
      padding-right: 10px
      min-width: 460px
      width: 460px

    @media(min-width: 1900px)
      min-width: 650px
      width: 650px

.orders-filter
  display: flex
  flex-wrap: wrap
  justify-content: stretch
  margin-left: -10px
  margin-right: -10px

  &__selects
    display: flex
    flex-grow: 1
    flex-wrap: wrap
    justify-content: stretch

  &__item
    flex-grow: 1
    margin-bottom: 10px
    padding-left: 10px
    padding-right: 10px

    @media(min-width: 768px)
      width: 33.33333%

.orders-table
  white-space: nowrap

  td
    cursor: pointer

  tr
    &:hover
      td
        background-color: #FCFCFC

  &__th
    img
      cursor: pointer
      margin-left: 5px

  &__th,
  &__cell
    &--weight
      @media(max-width: 1023px)
        display: none

  &__button
    background-color: transparent
    border: none
    color: $green-color
    cursor: pointer
    padding: 0 6px
    transition: color 0.3s

    span
      border-bottom: 1px dotted transparent
      transition: border-bottom-color 0.3s

    &:hover,
    &:focus
      color: $dark-green-color

      span
        border-bottom-color: $dark-green-color

.order
  background-color: #FCFCFC
  border: 1px solid $light-grey-color
  border-radius: 8px
  font-size: 14px
  line-height: 1.71428
  max-width: 630px
  margin-bottom: 20px
  padding: 15px

  @media(min-width: 768px)
    padding: 20px

  @media(min-width: 1900px)
    padding: 40px

  &--big
    max-width: 100%

  &__title-block
    align-items: center
    border-bottom: 1px solid $light-grey-color
    display: flex
    flex-wrap: wrap
    margin-bottom: 30px
    padding-bottom: 20px

  &__title
    font-size: 24px
    font-weight: 700
    line-height: 1
    margin-bottom: 10px
    margin-right: auto
    text-transform: none

  &__date
    color: #7F7F7F
    font-weight: 500
    margin-bottom: 10px

  &__list
    border-bottom: 1px solid $light-grey-color
    margin-bottom: 20px
    padding-bottom: 20px

  &__item
    align-items: flex-end
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px

  &__item-info
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 50px
    margin-right: auto
    padding-left: 70px
    position: relative

    @media(min-width: 768px)
      min-height: 70px
      padding-left: 92px

  &__item-title
    margin-bottom: 0

    a
      color: $text-color
      display: inline-block
      text-decoration: none

      &:hover,
      &:focus
        text-decoration: underline

  &__item-image
    border-radius: 6px
    left: 0
    max-width: 50px
    overflow: hidden
    position: absolute
    top: 0
    width: 50px

    @media(min-width: 768px)
      max-width: 72px
      width: 72px

  &__item-prop
    color: $grey-color
    margin-bottom: 0

  &__item-price
    font-size: 16px
    font-weight: 700
    line-height: 1.25
    margin-bottom: 0
    white-space: nowrap

  &__info-row
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    line-height: 2.14285
    margin-bottom: 0

  &__comments-button
    background-color: transparent
    border: none
    color: $green-color
    cursor: pointer
    height: 30px
    padding: 0
    transition: color 0.3s

    &:hover,
    &:focus
      color: $dark-green-color

      span
        border-bottom-color: $dark-green-color

    span
      border-bottom: 1px dotted transparent
      transition: border-bottom-color 0.3s

  &__comments
    display: none
    padding-top: 20px

.date-filter
  &__inner
    align-items: center
    display: flex
    flex-wrap: wrap

  &__title
    align-items: center
    display: flex
    height: 40px
    width: 100%

    @media(min-width: 768px)
      margin-right: 10px
      width: auto

  &__input
    width: calc((100% - 25px)/2)

    @media(min-width: 768px)
      max-width: 180px

  &__dilimetr
    align-items: center
    display: flex
    height: 40px
    justify-content: center
    padding-left: 5px
    padding-right: 5px
    width: 25px

  &__button
    margin-top: 10px
    width: 100%

    @media(min-width: 768px)
      margin-top: 0
      max-width: 180px
      margin-left: 10px

.order-item
  align-items: center
  display: flex
  font-size: 12px
  min-width: 240px
  text-align: left
  white-space: normal

  &__image
    min-width: 50px
    width: 50px

    @media(min-width: 768px)
      min-width: 80px
      width: 80px

  &__info
    padding-left: 12px

.order-list
  white-space: nowrap

  &__th,
  &__cell
    vertical-align: middle

    &:first-child
      text-align: left

  &__delete-block,
  &__add-block
    width: 60px

  &__qnt
    width: 100px

  &__delete
    align-items: center
    border: none
    background-color: rgba($text-color, 0.33)
    border-radius: 6px
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    padding: 0
    transition: background-color 0.3s
    width: 40px
    z-index: 1

    &:hover,
    &:focus
      background-color: rgba($text-color, 0.66)

  &__delete-icon
    fill: none
    height: 16px
    stroke: #fff
    stroke-width: 1.5px
    width: 16px

  &__purchase
    max-width: 350px

  &__add
    align-items: center
    background-color: $green-color
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6H12M6 0L6 12' stroke='%23ffffff'/%3E%3C/svg%3E%0A")
    background-position: 50% 50%
    background-repeat: no-repeat
    border: none
    border-radius: 6px
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    padding: 0
    transition: background-color 0.3s
    width: 40px
    z-index: 1

    &:hover,
    &:focus
      background-color: $dark-green-color

    &:disabled,
    &.disabled
      background-color: darken($light-grey-color, 10%)
      border-color: rgba($grey-color, 0.2)
      color: #fff
      cursor: default
      pointer-events: none

      &:hover,
      &:focus,
      &:active
        background-color: $light-grey-color
        border-color: rgba($grey-color, 0.2)
        color: #fff
        cursor: default

.suggest
  min-width: 280px
  max-width: 400px
  position: relative

  &__dropdown
    border-radius: 8px
    background-color: #FCFCFC
    border: 1px solid $light-grey-color
    left: auto
    max-height: 200px
    overflow-y: auto
    position: absolute
    scrollbar-width: thin
    top: calc(100% + 5px)
    width: 100%
    z-index: 1

    &::-webkit-scrollbar
      width: 6px

    &::-webkit-scrollbar-track
      background-color: $light-grey-color

    &::-webkit-scrollbar-thumb
      background-color: $grey-color

  &__item
    align-items: center
    cursor: pointer
    display: flex
    font-size: 12px
    line-height: 1.2
    padding: 5px 16px
    transition: background-color 0.3s
    white-space: nowrap

    &:hover
      background-color: darken(#FCFCFC, 10%)

    &:not(:last-child)
      border-bottom: 1px solid $light-grey-color

    &:first-child
      border-top-left-radius: 5px
      border-top-right-radius: 5px

    &:last-child
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

  &__item-img
    border-radius: 2px
    height: 30px
    width: 30px

  &__item-info
    padding-left: 6px
    width: calc(100% - 30px)

  &__item-title
    margin: 0
    overflow: hidden
    text-overflow: ellipsis

  &__item-art
    color: $grey-color
    font-size: 10px
    margin-bottom: 0

.order-update-block
  min-height: 320px

.back-block
  a
    color: $green-color

    &:hover,
    &:focus
      color: $dark-green-color

.save-order
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 40px

  .button
    margin-bottom: 10px
    max-width: 340px
    margin-left: 5px
    margin-right: 5px
    width: 100%
