.personal-form
  max-width: 500px

  &__label
    display: block
    margin-bottom: 20px

  &__label-text
    display: block
    font-weight: 500
    margin-bottom: 5px
    padding-left: 5px
    padding-right: 5px

  &__button
    width: 100%
